body{
   background-color: #fff;
}

.img-photo{
    margin-right: 20px;
    border-radius: 2px;
    height: 60%;
    width: 40%;
  
}

.family-box {
    border-bottom: 5px #000 solid;
    border-top: 5px #000 solid;
    background-color: #d6e5e3;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    height: 200px;
    width: 400px;
}

.akuma {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 40px;
    font-weight: 900;
}

.front {
    margin-left: 10px;  
}

.east {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 22px;   
}

.generlCarrier{
    padding-top: 20px;
    text-align: center;
}